In [1]:
#import environments
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://www.indeed.com/salaries'
browser.visit(url)
time.sleep(1)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#print(soup.prettify())

In [6]:
job_titles = ['junior data analyst', 'data analyst', 'senior data analyst', 
              'data engineer', 'data scientist', 
              'senior data scientist']
salaries_by_job_title = []
salary_type_by_job_title = []
salary_description = []
source_urls = []

In [7]:
for job in job_titles:
    try:
        print(job)
        try:
            browser.find_by_id('cmp-salary-search-input').first.fill(job)
        except:
            browser.find_by_id('cmp-salary-search-input-title').first.fill(job)
        time.sleep(1)
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
#         print(soup.prettify())
        search_results = soup.find('div', class_='cmp-salary-search-results')
#         print(search_results)
#         print('------------')
        keywords = search_results.find_all('a', class_='cmp-salary-search-result-title')
#         print(keywords)
#         print('------------')
        for keyword in keywords:
            print(keyword.text)
        print('------------')
        #option = browser.find_by_partial_text('data analyst').mouse_over()
        option = browser.links.find_by_partial_text(job)
        option.mouse_over()
        print(option.text)
        browser.click_link_by_id('cmp-salary-search-submit')
        time.sleep(1)
        print(browser.url)
        source_urls.append(browser.url)
        browser.visit(browser.url)
        time.sleep(1)
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        #print(soup.prettify())
        avg_salary = soup.find('div', class_='sal-agg-nonbase__average-salary-value').text
        avg_salary_type = soup.find('div', class_='sal-agg-nonbase__average-salary-type').text   
        avg_salary_summary = soup.find('h3', class_='sal-agg-nonbase__salary-explain-summary').text       
        print(avg_salary, avg_salary_type)
        print(avg_salary_summary)
        salaries_by_job_title.append(avg_salary)
        salary_type_by_job_title.append(avg_salary_type)
        salary_description.append(avg_salary_summary)
        browser.back()
        time.sleep(1)
    except AttributeError as e:
        print(e)
        pass

junior data analyst
Junior Data Analyst
------------
Popular salaries for junior data analyst
https://www.indeed.com/career/junior-data-analyst/salaries
$57,236 per year
The average salary for a junior data analyst  is $57,236 per year in the United States.
data analyst
Data Entry Clerk
Data Analyst
Senior Data Analyst
Data Analyst Manager
Junior Data Analyst
Entry Level Data Analyst
------------
Popular salaries for data analyst
https://www.indeed.com/career/data-analyst/salaries
$75,121 per year
The average salary for a data analyst  is $75,121 per year in the United States and  $2,500 cash bonus per year.
senior data analyst
Senior Data Analyst
------------
Popular salaries for senior data analyst
https://www.indeed.com/career/senior-data-analyst/salaries
$95,984 per year
The average salary for a senior data analyst  is $95,984 per year in the United States and  $3,650 cash bonus per year.
data engineer
Data Engineer
Data Warehouse Engineer
------------
Popular salaries for data engineer
https://www.indeed.com/career/data-engineer/salaries
$129,421 per year
The average salary for a data engineer  is $129,421 per year in the United States and  $5,000 cash bonus per year.
data scientist
Data Scientist
Senior Data Scientist
Lead Data Scientist
Junior Data Scientist
------------
Popular salaries for data scientist
https://www.indeed.com/career/data-scientist/salaries
$121,691 per year
The average salary for a data scientist  is $121,691 per year in the United States.
senior data scientist
Senior Data Scientist
------------
Popular salaries for senior data scientist
https://www.indeed.com/career/senior-data-scientist/salaries
$150,981 per year
The average salary for a senior data scientist  is $150,981 per year in the United States.

In [8]:
browser.quit()

In [9]:
salary_table = pd.DataFrame({"Job Title":job_titles,
                             "Avg Salary":salaries_by_job_title,
                             "Salary Type": avg_salary_type,
                             "Salary Description": salary_description
                             })
salary_table

,Job Title,Avg Salary,Salary Type,Salary Description
0,junior data analyst,"$57,236",per year,The average salary for a junior data analyst ...
1,data analyst,"$75,121",per year,"The average salary for a data analyst is $75,..."
2,senior data analyst,"$95,984",per year,The average salary for a senior data analyst ...
3,data engineer,"$129,421",per year,The average salary for a data engineer is $12...
4,data scientist,"$121,691",per year,The average salary for a data scientist is $1...
5,senior data scientist,"$150,981",per year,The average salary for a senior data scientist...